html, body
	margin 0
	padding 0
	height 100vh
	overflow-y hidden
	overflow-x hidden

body
	font-family 'Roboto'
	font-size 100%
	display flex
	align-items stretch
	align-content stretch
	user-select none

.mdi
	line-height 24px;

.no-margin
	margin 0 !important

.no-padding
	padding 0 !important


/*
	Override material-ui select height
*/

#content
	flex-grow 1



